<div class="container">
    {{ form_start(form, {'attr' : {'id' : 'contact'}}) }}
    <h3>Ajout d'un produit Click&Collect</h3>
    <h4>* Champs Obligatoires</h4>
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>
        <fieldset>
            <button class="btn" type="submit">{{ button_label|default('Enregistrer') }}</button>
        </fieldset>
        <a href="{{ path('admin_click') }}">Retour</a>
    {{ form_end(form) }}
</div>
