{% extends 'base.html.twig' %}

{% block title %}ProductClick{% endblock %}

{% block body %}
    <h1>ProductClick</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_click.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product_click.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product_click.price }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ product_click.category }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_click_index') }}">Retour à l'Administration</a>

    <a href="{{ path('product_click_edit', {'id': product_click.id}) }}">edit</a>

{% endblock %}
