{% extends 'profile_user/layout.html.twig' %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ '/style/footer.css' }}" rel="stylesheet">
    <link href="{{ '/style/nav.css' }}" rel="stylesheet">
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block title %}Historique des commandes{% endblock %}

{% block headerTitle %}
    <div class="home-title">
        <h1>Historique de vos commandes</h1>
    </div>
{% endblock %}

{% block main %}
    <div class="profile-block">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('profil_index') }}"><i class="fa fa" aria-hidden="true"></i>Retour au profil</a></li>
            </ul>
            <div class="history">
                <table>
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Produits</th>
                            <th>Date</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            {% for item in order.cart %}
                                <td>#{{ order.id }}</td>
                                <td>{{ item.product.name }}</td>
                            {% endfor %}
                            <td>{{ order.hours|date("d/m/Y H:i") }}</td>
                            <td>{{ order.priceTotal }}€</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {{ knp_pagination_render(orders) }}
{% endblock %}

{% block javascipt %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}
