{% extends 'click/layout.html.twig' %}

{% block title %}Taste - Panier{% endblock %}

{% block stylesheets %}
    <link href="{{ 'style/footer.css' }}" rel="stylesheet">
    <link href="{{ 'style/cart.css' }}" rel="stylesheet">
    <link href="{{ 'style/nav.css' }}" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
{% endblock %}

{% block main %}
    <div class="container pt-5">
        <div class="bg-light p-3">
            <h1>Votre panier</h1>
        </div>
    </div>

    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.name }} - {{ item.product.category }}</td>
                    <td>{{ item.product.price }}€</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price * item.quantity }}€</td>
                    <td>
                        <a href="{{ path('cart_remove', {id: item.product.id}) }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total :</td>
                    <td>{{ total }}€</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p> Votre panier est vide</p>
    {% endif %}
{% endblock %}

