{% extends 'caterer/layout.html.twig' %}
{% block stylesheets %}
    <link href="{{ 'style/footer.css' }}" rel="stylesheet">
    <link href="{{ 'style/nav.css' }}" rel="stylesheet">
    {{ encore_entry_link_tags('caterer') }}
{% endblock %}

{% block title %}Artisan Traiteur{% endblock %}

{% block headerTitle %}
    <div class="background-title-home">
        <h1 style="">Artisan Traiteur</h1>
        <h2></h2>
    </div>
{% endblock %}

{% block main %}
    <h2 style="text-align: center">Traiteur</h2>
    <div class="border-caterer"></div>

    <div class="cocktail-caterer">
        <img src="https://via.placeholder.com/755x300" alt="place holder">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eros orci, accumsan nec est in,
            tempor lacinia leo. Sed placerat finibus felis, et efficitur magna euismod a. Sed vitae rhoncus. </p>
    </div>

    <div class="entree-caterer">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eros orci, accumsan nec est in,
            tempor lacinia leo. Sed placerat finibus felis, et efficitur magna euismod a. Sed vitae rhoncus. </p>
        <img src="https://via.placeholder.com/755x300" alt="place holder">
    </div>

    <div class="plate-caterer">
        <img src="https://via.placeholder.com/755x300" alt="place holder">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eros orci, accumsan nec est in,
            tempor lacinia leo. Sed placerat finibus felis, et efficitur magna euismod a. Sed vitae rhoncus. </p>
    </div>

    <div class="container">
        <div class="row header">
            <h1>DEMANDE DE DEVIS</h1>
        </div>
        <div class="row body">
            {{ form_start(form) }}
                <div class="A">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </div>
                <div class="B">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
                <div class="C">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="D">
                    {{ form_label(form.number) }}
                    {{ form_widget(form.number) }}
                </div>
                <div class="E">
                    {{ form_label(form.budget) }}
                    {{ form_widget(form.budget) }}
                </div>
                <div class="F">
                    {{ form_label(form.guests) }}
                    {{ form_widget(form.guests) }}
                </div>
                <div class="G">
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date) }}
                </div>
                <div class="H">
                    {{ form_label(form.location) }}
                    {{ form_widget(form.location) }}
                </div>
                <div class="I">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            {{ form_end (form)}}
                    <input class="btn btn-submit" type="submit" value="Submit" />
                    <small>or press <strong>enter</strong></small>
{% endblock %}