{% block stylesheets %}
    <link href="{{ 'style/catererstyle.css' }}" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block main %}
    <div>
        <h2>Demande de devis de la part de {{ caterer.firstname }} {{ caterer.lastname }}</h2>
        <h4>Contact :</h4>
        <p>Email : {{ caterer.email }}</p>
        <p>Numéro de telephone : {{ caterer.number }}</p>
        <p>Budget : {{ caterer.budget }}</p>
        <p>Date de l'évenement : {{caterer.date.format('d/m/Y')}}</p>
        <p>Localisation de l'évenement : {{ caterer.location }}</p>
        <p>Nombre d'invités : {{ caterer.guests }}</p>

        <h4>Descriptif de l'évenement : </h4>
        <p>{{ caterer.description }}</p>
    </div>
{% endblock %}