<div class="container">
    {{ form_start(form, {'attr' : {'id' : 'contact'}}) }}
    <h3>Ajout d'un produit à la carte</h3>
    <h4>* Champs Obligatoires</h4>
    <fieldset>
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </fieldset>
    <fieldset>
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
    </fieldset>
    <fieldset>
        {{ form_label(form.ingredients) }}
        {{ form_widget(form.ingredients) }}
    </fieldset>
    <fieldset>
        {{ form_label(form.groupName) }}
        {{ form_widget(form.groupName) }}
    </fieldset>
    <fieldset>
        {{ form_label(form.groupDescription) }}
        {{ form_widget(form.groupDescription) }}
    </fieldset>
    <fieldset>
        {{ form_label(form.category) }}
        {{ form_widget(form.category) }}
    </fieldset>
    <fieldset>
        <button class="btn" name="submit" type="submit">{{ button_label|default('Enregistrer') }}</button>
    </fieldset>
    <a href="{{ path('admin_product') }}">Retour</a>
    {{ form_end(form) }}
</div>
