<nav class="navBar">
    <a href="{{ path('carte') }}">Carte</a>
    <a href="{{ path('caterer') }}">Traiteur</a>
    <a href="{{ path('cart_index') }}">Click&Collect</a>
    <a href="{{ path('index') }}"><img src = "{{ ('images/taste-logo.jpg') }}" class="image-home" alt="logo home" width="55" height="55"/></a>
    <a href="{{ path('news') }}">Réseaux</a>
    <a href="{{ path('partners') }}">Partenaire</a>
    {% if app.user %}

        <a href="{{ path('app_logout') }}">Se Déconnecter</a>

    {% else %}

        <a href="{{ path('app_login') }}">Connexion</a>

    {% endif %}
</nav>
